label {
  display: block;
  margin-top: 10px;
}

.login-form,
.signup-form {
  width: 390px;
  max-height: 530px;
  margin: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card {
  background-color: #fff;
  padding: 35px 30px;
  margin: 0 auto;
  border: none;
}

.profile-img-card {
  width: 40px;
  height: 32px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.nav-link {
  margin: 0 18px;
  font-family: MarkPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1f2a4b;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card h1 {
  margin: 25px 0 6px 0;
  font-family: MarkPro;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1f2a4b;
}

.card span {
  margin: 6px 30px 20px 0;
  font-family: MarkPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #a1a4ad;
}

.MuiInput-input:before {
  border-bottom: 1px solid #e1e1e1;
}

.MuiInput-input {
  padding: 4px 0 15px !important;
  font-family: MarkPro !important;
  font-size: 16px !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9ea3b2 !important;
}

.MuiInput-input:after {
  border-bottom: 1px solid #4a77e5 !important;
  font-family: MarkPro !important;
  font-size: 16px !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1f2a4b !important;
}

.signin,
.signup {
  margin: 21px 0 52px 0;
  font-family: MarkPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.signin a,
.signup a {
  color: #1f2a4b;
}

.card button {
  font-family: MarkPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  background-color: #4a77e5;
  color: #fff;
}
